


# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
.venv/
env/
venv/
ENV/
*.env

# VS Code
.vscode/

# macOS
.DS_Store

# Output
*.pdf

# Log files
*.log

# Jupyter/IPython
.ipynb_checkpoints/

# Other
*.swp